<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="VTK Demos"
            id="com.geofx.vtk.scene.category">
      </category>
      <view
            name="VTK Scene"
            icon="icons/vtk-logo_16.png"
            category="com.geofx.vtk.scene.category"
            class="com.geofx.vtk.scene.SceneView"
            id="com.geofx.vtk.scene.VTKScene">
      </view>
   </extension>
   
   <extension
          point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.geofx.vtk.scene.SelectHandler"
            id="com.geofx.vtk.commands.select"
            name="Select">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
         		id="selectMenu"
                label="VTK Select">
            <command
                  commandId="com.geofx.vtk.commands.select"
                  icon="icons/vtk-logo_16.png"
                  label="Select..."
                  tooltip="Show dialog to select demo">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
              id="com.geofx.vtk.toolbar"
              label="VTK Toolbar">
              <command
                   commandId="com.geofx.vtk.commands.select"
                   icon="icons/vtk-logo_16.png"
                   style="push"
                   tooltip="Open dialog to select demo">
              </command>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
